<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let head of headerNames">
        {{ this.translate.data[head] | translate }}
      </th>
      <th scope="col">
        {{ this.translate.data["DownloadPrice"] | translate }}
      </th>
      <th *ngIf="authService.isAdmin$ | async" scope="col">
        {{ this.translate.data["DeletePrices"] | translate }}
      </th>
      <!-- <th scope="col" sortable="name" (sort)="onSort($event)">Country</th>
    <th scope="col" sortable="area" (sort)="onSort($event)">Area</th>
    <th scope="col" sortable="population" (sort)="onSort($event)">Population</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of listPrices">
      <th scope="row">{{ file.category }}</th>
      <td>{{ file.description }}</td>
      <td>
        <a href="{{ file.urlFile }}" target="_blank" rel="noopener">{{
          this.translate.data["DownloadFile"] | translate
        }}</a>
      </td>
      <td *ngIf="authService.isAdmin$ | async">
        <a (click)="delete(file.urlFile)">{{
          this.translate.data["DeleteFile"] | translate
        }}</a>
      </td>
    </tr>
  </tbody>
</table>
